/* You can add global styles to this file, and also import other style files */

html, body {
    font-family: 'Roboto';
    font-weight: 300;
    background: #fff;
    color: #535353;
    margin: 0px;
    padding: 50px;
    overflow: auto;
    font-size: 16px;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
